@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.menu-hidden {
    @apply duration-150 ease-out opacity-0 scale-95;
}

.menu-shown {
    @apply duration-150 ease-in opacity-100 scale-100;
}

.custom-link {
    color: #070f1a !important;
}

.bg-custom {
    background-color: #070f1a;
}

.text-custom {
    color: #070f1a;
}

.profile-bg-selected {
    background-color: #f9fafb;
}

.profile-text-selected {
    color: #070f1a;
}

.profile-icon-selected {
    color: #565d6b;
}